@font-face{
    font-family: 'BigTitle';
    src: url("../fonts/zhongshan.TTF");
}
@font-face{
    font-family: 'kawayi';
    src: url("../fonts/FZMWFont.ttf");
}
@font-face{
    font-family: 'jinling';
    src: url("../fonts/FZCuJinLJW.TTF");
}